<div class="program_video">
   <span class="p_hour"><%= display_program[:hour] %></span>
   <span class="p_name"><%= display_program[:name] %></span>
   <span class="p_infos"><%= display_program[:infos] %></span>
   <br/>
</div>
