*
{
    font-family: Helvetica, Arial, sans-serif;
}

a
{
    color: #048bbf;
    text-decoration: none;
}

a:hover
{
    color: #4bf2f9;
}

a img
{
    border: 0;
}

#content
{
    width: 1517px;
    height: 1500px;
    position: absolute;
    top: 0;
    right: 0;
}

#left_col
{
    width: 667px;
    height: 100%;
    float: left;
    background: url('../images/lib.png') bottom right no-repeat;
}

#left_col > div
{
    width: 490px;
    float: right;
    padding-top: 60px;
}

.etagere
{
    width: 415px;
    height: 142px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    overflow: auto;
    color: white;
}

    .etagere img
    {
        float: left;
        margin-right: 20px;
    }

    .etagere h2
    {
        margin-top: 10px;
        text-shadow: 0px 0px 8px #FFFFFF;
        color:black;
    }

#search_tool input[type=text]
{
    width: 160px;
    height: 20px;
}

#right_col
{
    width: 830px;
    height: 100%;
    float: left;
    background: url('../images/tv.png') bottom left no-repeat;
}

#logo
{
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

#news
{
    width: 60%;
    height: 150px;
    margin: auto;
    background: url('../images/news.png') no-repeat;
    padding-left: 25%;
    padding-top: 50px
}

#screen
{
    width: 640px;
    height: 360px;
    margin: auto;
    margin-top: 30px;
}

    #screen object
    {
        margin: auto;
    }

#progress_bar
{
    width: 644px;
    height: 2px;
    margin: auto;
    margin-top: 15px;
    padding-top: 1px;
}

    #progress
    {
        width: 0px;
        height: 2px;
        background: #1db0d1;
    }

#player_toolbar
{
    width: 600px;
    height: 17px;
    margin: auto;
    margin-top: 15px;
    color: silver;
    font-size: 10px;
    padding-top: 3px;
}

    #player_toolbar div
    {
        float: left;
    }

    #player_toolbar div#time
    {
        float: right;
    }

    #player_toolbar div#button
    {
        margin-right: 10px;
        margin-top: -3px;
        cursor: pointer;
    }

.research
{
    text-align: right;
}

.small
{
    font-size: 12px;
}

.now
{
    color: red;
}

#ad_banner
{
    width: 700px;
    margin: auto;
    margin-top: 150px;
}

.ad_square
{
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-left: 90px;
    -webkit-box-shadow: 0px 0px 7px #000;
    -moz-box-shadow: 0px 0px 7px #000;
    box-shadow: 0px 0px 7px #000;
    border: 5px solid white;
}

.ad_horizontal
{
    -webkit-box-shadow: 0px 0px 7px #000;
    -moz-box-shadow: 0px 0px 7px #000;
    box-shadow: 0px 0px 7px #000;
    border: 5px solid white;
}

#light
{
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

.rideau
{
    position: absolute;
    z-index: 9999;
    background: black;
}

.p_hour
{
	font-family: Arial, Courier News, serif;
	font-size: small;	
	color: #5e5e5e;
}

.p_name
{
	font-family: "Comic Sans MS", "Trebuchet MS", Georgia, serif;
	font-size: medium;
}

.p_infos
{
	font-family: Arial, Courier News, serif;
	font-size: small;
	color: #5e5e5e;
}
